

h1 {
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    display: inline-block;
    vertical-align: top;
    width: 73%;
    padding: 1%;
}

.logo1 { 
    width: 23%;
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  

}

.logo {
    width: 23%;
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
     
}

.nav {
    width: 50%;
    margin-left: auto;
}

#nav {
    background-color: aliceblue;
    margin: 0px;
	padding: 10px;
    list-style-type: none;
    vertical-align: top;
 }
 
#nav li {
    width: 50%;
    margin-left: auto;
	display:inline;
	padding: 20px;
	margin: 20px;
    
    font-size: larger;
    
}
.topnav-left {
    padding: 5px
     
}

.topnav-right {

    float: right
}


#nav a:hover,
#nav a:focus {
	color:#fff;
	background:#727454;
}

img {
 
    border: pink solid 5px;
    margin-top: 5%;

}

.bio {
    background-color: rgba(31, 195, 232, 0.244);
    padding: 10px;
    margin: 0 auto
}

.Monica-Name {
    text-align: center;
}

.headshot {
    height: 600px;
    padding: 25px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
   text-align: center;
}

p {
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align: center;
    
}

.button {
    text-align: center;
    margin: 10px;
    padding: 10px;
  background-color: aliceblue;
  

}
#footer-nav {

    background-color: #373738;
   
    margin: 0px;
	padding: 10px;
    list-style-type: none;
    
  
}
#footer-nav li {
	display:inline-block;
	padding: 20px;
	margin: 0px;
    vertical-align: top;
    font-size: larger;
    
}
.footernav-left {
    padding: 0px 
}

.footernav-right {
    
    float: right;

}


#footer-nav a:hover,
#footer-nav a:focus {
	color:#fff;
	background:#727454;
}
