


#nav {

    background-color: aliceblue;
	margin: 0px;
	padding: 10px;

    list-style-type: none;
 
    
  
}
#nav li {
	display:inline;
	padding: 20px;
	margin: 20px;
    
    font-size: larger;
    
}
.topnav-left {
    padding: 5px
     
}

.topnav-right {

    float: right
}


#nav a:hover,
#nav a:focus {
	color:#fff;
	background:#727454;
}

img {
 
    border: pink solid 5px;
    margin-top: 5%;
}

.bio {
    background-color: rgba(31, 195, 232, 0.244);
    padding: 20px;
    margin: 40px

}

.Monica-Name {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

p {
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    
}

.button {
    text-align: center;
    margin: 10px;
    padding: 10px;
  background-color: aliceblue;
  

}
#footer-nav {

    background-color: aliceblue;
	margin: 0px;
	padding: 10px;

    list-style-type: none;
    
  
}
#footer-nav li {
	display:inline;
	padding: 20px;
	margin: 20px;
    
    font-size: larger;
    
}
.footernav-left {
    padding: 0px 
}

.footernav-right {
    
    float: right;

}


#footer-nav a:hover,
#footer-nav a:focus {
	color:#fff;
	background:#727454;
}


